language: csharp
mono: none
dotnet: 2.1
script:
  - pushd server
  - dotnet restore
  - dotnet build
deploy:
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip_file: deploy.zip
    access_key_id: AKIAJA4FWBSDIZTPOUYQ
    secret_access_key:
      secure: "eKtPFjFyBEK5A8TXsikGtsgHA+wcy/5yWlicnf+wt/Gc6vaa2w5kn6KA0h53NGqA+d8bo4AnSKQCHEj+0t2oo1NMGQsLHs1WU1FTEbNyuPS4dEijOwb9U9ikKtQ3jE5crzOPI27h3TeM/U2vwbvYAKstz1Cq6hozKwF9shRMj94vyCa58Lk5KhiFGdZhK1loIQWARw3S6zSFDqxNWqc+JRhJXCBAyEMIieNjcQaN5DzqwTYfyh/AzMDuqKDBUezzDkXo2mKY1toTKJhmQHN602lMjyd5FwBZV/fGP6h0ZnK9Ogy7ZtyLD+6QP5j6Z05kLvoVDpOi92uky23VaZ8S6H/9f1gZDr2onVfn3kzi06qyg6qZ7RlakE+UkccEHePI4TfEaIXa2aJhe/xjHD+e9te+NjQV37rXx9Z+GcX9cmQ66zmCbP63pe7bHZAWXKXsPQ53cieKfENat029AFWOqOg3xMFyWPPvByUECkngn5nhdyYFCIagtFh73vG6G2jmyDRELSifgN3UY8j2Dcv8UE+HtcFEaj/DmeOuri/NOczdjhJiQOfByWmh2Fvy4MDzTkP6dhqQ2/x/GrYNx5zT+vSav2IRFNylVoZM309JbsT4ZWQztTO8GsNlf05+7afcPJDfC0/m3oSlWmTMhjk4pzc0lNa2OIYyd3MByFHl6HA="
    region: us-west-2
    app: PlayServices
    env: playservices-test
    bucket_name: elasticbeanstalk-us-west-2-043147857571
    on:
      branch: develop
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip_file: deploy.zip
    access_key_id: AKIAJA4FWBSDIZTPOUYQ
    secret_access_key:
      secure: "eKtPFjFyBEK5A8TXsikGtsgHA+wcy/5yWlicnf+wt/Gc6vaa2w5kn6KA0h53NGqA+d8bo4AnSKQCHEj+0t2oo1NMGQsLHs1WU1FTEbNyuPS4dEijOwb9U9ikKtQ3jE5crzOPI27h3TeM/U2vwbvYAKstz1Cq6hozKwF9shRMj94vyCa58Lk5KhiFGdZhK1loIQWARw3S6zSFDqxNWqc+JRhJXCBAyEMIieNjcQaN5DzqwTYfyh/AzMDuqKDBUezzDkXo2mKY1toTKJhmQHN602lMjyd5FwBZV/fGP6h0ZnK9Ogy7ZtyLD+6QP5j6Z05kLvoVDpOi92uky23VaZ8S6H/9f1gZDr2onVfn3kzi06qyg6qZ7RlakE+UkccEHePI4TfEaIXa2aJhe/xjHD+e9te+NjQV37rXx9Z+GcX9cmQ66zmCbP63pe7bHZAWXKXsPQ53cieKfENat029AFWOqOg3xMFyWPPvByUECkngn5nhdyYFCIagtFh73vG6G2jmyDRELSifgN3UY8j2Dcv8UE+HtcFEaj/DmeOuri/NOczdjhJiQOfByWmh2Fvy4MDzTkP6dhqQ2/x/GrYNx5zT+vSav2IRFNylVoZM309JbsT4ZWQztTO8GsNlf05+7afcPJDfC0/m3oSlWmTMhjk4pzc0lNa2OIYyd3MByFHl6HA="
    region: us-west-2
    app: PlayServices
    env: playservices-prod
    bucket_name: elasticbeanstalk-us-west-2-043147857571
    on:
      branch: master
